[Desktop Entry]
Type=Application
Name=SAOImage DS9
GenericName=FITS Viewer
Comment=Astronomical imaging and data visualization
Exec=ds9 %F
Icon=io.github.SAOImage.DS9
Terminal=false
Categories=Science;Astronomy;Education;
MimeType=image/fits;application/fits;
StartupWMClass=ds9
